@model IEnumerable<TestingSystem.Models.QuestionWithThemeViewModel>
@using TestingSystem.Resources

<table class="table">
    <tr class="info">
        <th>
            @Html.Label(Resource.MES_IsSelected)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.QuestionText)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.QuestionType)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ThemeName)
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr class="item">
            <td>
                @Html.CheckBox("IsAdded", htmlAttributes: new { @class = "questionItem", @id = item.QuestionID })
            </td>
            <td>
                @Html.ActionLink(item.QuestionText, "QuestionDetails", new { questionId = item.QuestionID }, new { @id = "firstItemName", @class = "infoBtn" })
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.QuestionType)
            </td>
            <td>
                <p id="secondItemName"> @item.ThemeName </p>
            </td>
        </tr>
    }
</table>
