@model IEnumerable<TestingSystem.Models.QuestionViewModel>
@using TestingSystem.Resources

<table class="table">
    <tr class ="info">
        <th>
            @Html.DisplayNameFor(model => model.QuestionText)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.QuestionType)
        </th>
        <th>

        </th>
    </tr>

@foreach (var item in Model)
{
    <tr class="item">
        <td>
            @Html.ActionLink(item.QuestionText, "QuestionDetails", new { questionId = item.QuestionID }, new { @id = "itemName", @class="infoBtn" })
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.QuestionType)
        </td>
        <td>
            @Html.ActionLink(Resource.BTN_Delete,
                    "DeleteQuestion",
                    new { questionId = item.QuestionID },
                    new { @class = "btn btn-danger pull-right deleteBtn"
            })
        </td>
    </tr>
}
</table>
@Scripts.Render("~/Scripts/deleteConfirmation.js")
@Scripts.Render("~/Scripts/modalWindow.js")
