@model WebApplication.Models.CreatingDetailViewModel

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="modal-content">

        <div class="modal-header">
            <button class="close" data-dismiss="modal" area-hidden="true">X</button>
            <h4 class="modal-title">Добавление продукта</h4>
        </div>

        <div class="modal-body">

            @Html.HiddenFor(model => model.OrderID)
            @Html.HiddenFor(model => model.ProductID)

            <dl class="row">
                <dt class="col-sm-9">
                    @Html.LabelFor(model => model.ProductName, htmlAttributes: new { @class = "control-label col-md-2" })
                </dt>
                <dd class="col-sm-12">
                    <select name="ProductName" class="form-control" id="productSelector">
                        @foreach (var item in ViewBag.Products)
                        {
                            <option id=@item.ProductID>@item.ProductName</option>
                        }
                        @Html.ValidationMessageFor(model => model.ProductID, "", new { @class = "text-danger" })
                    </select>
                </dd>
            </dl>
            <dl class="row">
                <dt class="col-sm-9">
                    @Html.LabelFor(model => model.Quantity, htmlAttributes: new { @class = "control-label col-md-2" })
                </dt>
                <dd class="col-sm-12">
                    @Html.EditorFor(model => model.Quantity, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Quantity, "", new { @class = "text-danger" })
                </dd>
            </dl>

            <dl class="row">
                <dt class="col-sm-9">
                    @Html.LabelFor(model => model.Discount, htmlAttributes: new { @class = "control-label col-md-2" })
                </dt>
                <dd class="col-sm-12">
                    @Html.EditorFor(model => model.Discount, new { htmlAttributes = new { @class = "form-control" }})
                    @Html.ValidationMessageFor(model => model.Discount, "", new { @class = "text-danger" })
                </dd>
            </dl>
        </div>

        <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Отменить</button>
            <input type="submit" value="Добавить продукт" class="btn btn-primary" />
        </div>
    </div>
}

@Scripts.Render("~/bundles/jqueryval")
@Scripts.Render("~/Scripts/switcherForProductId.js")
